@font-face {
  font-family: "GT Walsheim Bold";
  font-display: swap;
  src: local('GTWalsheimPro-Bold.ttf'), url(../fonts/gt_walsheim_pro/GTWalsheimPro-Bold.ttf) format('TrueType');
}

@font-face {
  font-family: "GT Walsheim Medium";
  font-display: swap;
  src: local('GTWalsheimPro-Medium.ttf'), url(../fonts/gt_walsheim_pro/GTWalsheimPro-Medium.ttf) format('TrueType');
}

@font-face {
  font-family: "GT Walsheim Regular";
  font-display: swap;
  src: local('GTWalsheimPro-Regular.ttf'), url(../fonts/gt_walsheim_pro/GTWalsheimPro-Regular.ttf) format('TrueType');
}